<p>
  <strong>All Hosted Events:</strong>
  <% @hosted_events.each do |event| %>
    <% next unless event.published || event.creator_id == current_user.id %>
    <p>
    <h3><%= event.name%></h3>
    <%= event.event_date %>
    <p>
  <% end %>
</p>

<%= link_to 'Back', root_path %>
